.wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
}

.header__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__option {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    transition: all .159s ease-in-out;
}

.header__option:hover{
    transform: scale(1.2);
}

.header__login-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.main {
    padding-top: 59px;
    padding-bottom: 65px;
    background-image: url("public/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.intro {
    margin: 0 auto;
    width: 940px;
    margin-bottom: 52px;
}

.intro__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro__logo {
    margin-bottom: 60px;
}

.intro__quality-list {
    display: flex;
    justify-content: space-between;
    gap: 31px;
}

.intro__quality-option {
    color: rgb(247, 244, 241);
    font-family: "PT Sans";
    font-weight: 700;
    text-align: center;
}

.intro__quality-option-desc {
    font-size: 14px;
    line-height: 24px;
}

.intro__quality-option-header {
    font-size: 30px;
    line-height: 42px;
}

.intro__quality-option-rhombus {
    margin-top: 6px;
    margin-bottom: 18px;
}

.intro__quality-option--high {
    position: relative;
    top: -20px;
}

.box-element__wrapper {
    background: #FFF;
    height: 421px;
    display: flex;
}

.box-element__divider {
    margin-top: 77px;
    margin-bottom: 66px;
}

.box-element__header {
    color: rgb(0, 0, 0);
    font-family: "PT Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
}

.box-element__left-header {
    margin-top: 20px;
    margin-left: 30px;
}

.box-element__news-list {
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-element__news-obj {
    color: rgb(0, 0, 0);
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
}

.button {
    height: 42px;
    width: 139px;
    cursor: pointer;
    background: #000;
    color: rgb(255, 255, 255);
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    transition: all .156s ease-in-out;
}

.button:hover {
    background: #4e3636;
}

.box-element__button-news {
    margin-left: 30px;
}

.box-element__right-header {
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 39px;
}

.box-element__photo-element {
    margin-left: 94px;
    margin-bottom: 67px;
    transition: all .159s ease-in-out;
}

.box-element__photo-element:hover{
    transform: scale(1.124);
}

.box-element__button-photo {
    margin-left: 254px;
}

.box-element__news {
    flex: 1;
}

.box-element__photo {
    flex: 1;
}

.about {
    margin-bottom: 36px;
}

.box-element__contacts-box {
    margin-top: 38px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.box-element__contacts-info {
    margin-bottom: 10px;
}

.box-element__contacts-btn-box {
    margin-left: 30px;
    display: flex;
    gap: 30px;
}

.box-element__form-desc {
    color: rgb(0, 0, 0);
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.box-element__form-inputs {
    margin-top: 16px;
    margin-left: 25px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.box-element__form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 17px;
}

.box-element__form-input input {
    padding-left: 10px;
    border: #000 3px solid;
    height: 44px;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.box-element__form-input label {
    position: relative;
    left: 20px;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.box-element__button-form {
    margin: 0;
    margin-left: 25px;
    width: 390px;
    height: 42px;
    cursor: pointer;
    background: #000;
    color: rgb(255, 255, 255);
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    transition: all .156s ease-in-out;
}

.box-element__button-form:hover {
    background: #855d5d;
}

.box-element__contacts {
    flex: 1;
}

.box-element__form {
    flex: 1;
}

.contacts{
    margin-bottom: 30px;
}

.footer {
    height: 197px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #272626;
}

.footer .container{
    height: 100%;
}

.footer__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__contacts {
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #FFF;
}

.footer__friends{
    color: #FFF;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
}

.footer__links-box {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 40px;
    height: 40px;
    transition: all .156s ease-in-out;
}

.footer__link:hover{
    width: 60px;
    height: 60px;
    background: #352828;
}

.footer__link a::before {
    content: "";
    position: absolute;
    inset: 0;
}